@model MVCHogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Delete";
}

<div class="card w-50 text-center border-info mx-auto mt-5">
    <div class="card-header border-info">
        <h1 class="text-primary">Wissen</h1>
    </div>
    <div class="card-body">
        <div>
            <h3 class="text-left text-danger">Weet je zeker dat je deze inschrijving wil wissen?</h3>
            <h4 class="text-left">Inschrijving</h4>
            <hr class="border-info" />
            <dl class="row pt-3">
                <dt class="col-sm-4 text-left">
                    @Html.DisplayNameFor(model => model.InschrijvingId)
                </dt>
                <dd class="col-sm-8 text-left">
                    @Html.DisplayFor(model => model.InschrijvingId)
                </dd>
                <dt class="col-sm-4 text-left">
                    @Html.DisplayNameFor(model => model.Student.Gebruiker.Naam) student
                </dt>
                <dd class="col-sm-8 text-left">
                    @Model.Student.Gebruiker.Voornaam @Model.Student.Gebruiker.Naam
                </dd>
                <dt class="col-sm-4 text-left">
                    @Html.DisplayNameFor(model => model.VakLector.Vak.VakNaam)
                </dt>
                <dd class="col-sm-8 text-left">
                    @Html.DisplayFor(model => model.VakLector.Vak.VakNaam)
                </dd>
                <dt class="col-sm-4 text-left">
                    @Html.DisplayNameFor(model => model.VakLector.Lector.Gebruiker.Naam) lector
                <dd class="col-sm-8 text-left">
                    @Model.VakLector.Lector.Gebruiker.Voornaam @Model.VakLector.Lector.Gebruiker.Naam
                </dd>
                <dt class="col-sm-4 text-left">
                    @Html.DisplayNameFor(model => model.AcademieJaar.StartDatum)
                </dt>
                <dd class="col-sm-8 text-left">
                    @Html.DisplayFor(model => model.AcademieJaar.StartDatum)
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-footer border-info">
        <form asp-action="Delete">
            <div class="btn-group w-100" role="group">
                <input type="hidden" asp-for="InschrijvingId" />
                <input type="submit" value="Wissen" class="btn btn-danger w-50 mx-1" />
                <a asp-action="Index" class="btn btn-warning w-50 mx-1">Annuleren</a>
            </div>
        </form>
    </div>
</div>