@model MVCHogeschoolPXL.Models.Vak

@{
    ViewData["Title"] = "Details";
}

<div class="card w-25 text-center border-info mx-auto mt-5">
    <div class="card-header border-info">
        <h1 class="text-primary">Details</h1>
    </div>
    <div class="card-body">
        <div>
            <h4 class="text-left">Cursus</h4>
            <hr class="border-info" />
            <dl class="row pt-3">
                <dt class="col-sm-5 text-left">
                    @Html.DisplayNameFor(model => model.VakId)
                </dt>
                <dd class="col-sm-7 text-left">
                    @Html.DisplayFor(model => model.VakId)
                </dd>
                <dt class="col-sm-5 text-left">
                    @Html.DisplayNameFor(model => model.VakNaam)
                </dt>
                <dd class="col-sm-7 text-left">
                    @Html.DisplayFor(model => model.VakNaam)
                </dd>
                <dt class="col-sm-5 text-left">
                    @Html.DisplayNameFor(model => model.Studiepunten)
                </dt>
                <dd class="col-sm-7 text-left">
                    @Html.DisplayFor(model => model.Studiepunten)
                </dd>
                <dt class="col-sm-5 text-left">
                    @Html.DisplayNameFor(model => model.Handboek)
                </dt>
                <dd class="col-sm-7 text-left">
                    @Html.DisplayFor(model => model.Handboek.Titel)
                </dd>
            </dl>
        </div>
    </div>
    <div class="card-footer border-info">
        <div class="btn-group w-100" role="group">
            <a asp-action="Edit" asp-route-id="@Model.VakId" class="btn btn-info w-50 mx-1">Wijzig</a>
            <a asp-action="Index" class="btn btn-warning w-50 mx-1">Terug</a>
        </div>
    </div>
</div>