@model MVCPXLParty2021.Models.GuestParty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuestParty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest.GuestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Party)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Party.PartyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuestPartyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
