@model IEnumerable<MVCHogeschoolPXL.Models.Handboek>

@{
    ViewData["Title"] = "Index";
    var dict = new Dictionary<string, string>() {
        { "Vak", "Cursussen" }, { "Handboek", "Handboeken" }, { "VakLector", "Vaklectoren" }
    };
}

<div class="row">
    <div class="col-2 pt-5 mt-5">
        <partial name="CursusButtons" model="@dict" />
    </div>
    <div class="col-10">
        <div class="row pt-5 pb-2">
            <div class="col-5 text-primary">
                <h1>Overzicht Handboeken</h1>
            </div>
            <div class="col-6 text-left d-flex align-items-center">
                <a asp-action="Create" class="btn btn-success">Creëer nieuw handboek</a>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Titel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Kostprijs)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UitgifteDatum)
                            </th>
                            <th width="30%" class="text-center">
                                Acties
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kostprijs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UitgifteDatum)
                                </td>
                                <td>
                                    <div class="btn-group w-100" role="group">
                                        <a asp-action="Edit" asp-route-id="@item.HandboekId" color="info">Wijzig</a>
                                        <a asp-action="Details" asp-route-id="@item.HandboekId" color="primary">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.HandboekId" color="danger">Wissen</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-center col-6 offset-3 pt-5">Er zijn nog geen handboeken!</p>
        }
    </div>
</div>
