@model MVCPXLParty2021.ViewModels.GuestPartyHistory

@{
    ViewData["Title"] = "Details";
}
<guest-party-history guest-party-history-view-model="@Model"></guest-party-history>

@*<hr />

<div class="container">
    <h1>Details</h1>
    <hr />
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Party datum</th>
                <th>Party naam</th>
                <th>Locatie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var party in Model)
            {
                <tr>
                    <td>@party.Party.PartyDate</td>
                    <td>@party.Party.PartyName</td>
                    <td>@party.Party.Location.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div>
    <a asp-action="Edit" asp-route-id="@Model.GuestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
